{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="deleteit">
  <img src="{% static 'images/nerd-cat.svg' %}" alt=""/>
  <h1 class="h1delete">Want To Delete Event?</h1>
</div>
<h2 class="h2delete">Are you sure you want to delete {{ event.name }}?</h2>

<form action="" method="post" class="form" id="deleteform">
  {% csrf_token %}
  <div class="deletesection">
    <a 
      href="{% url 'event-detail' event.id %}" 
      class="btn secondary button-86 deletepg"
    >
      Cancel
    </a>
    <button type="submit" class="btn danger button-86 deletepg">Yes - Delete!</button>
  </div>
</form>

{% endblock %}