{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}"/>

<script defer src="{% static "js/event-form.js" %}"></script>
{% endblock %}

{% block content %}
<div class="page-header">
  {% if event %}
    <h1>Edit {{event.name}}</h1>
  {% else %}
    <h1>Add an Event</h1>
  {% endif %}
  <img class="event-icon" src="{% static 'images/34.png' %}" alt="A blue round callendar" />
</div>

<form action="" method="post" class="form-container">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <button type="submit" class="btn submit button-86" >Submit</button>
</form>
{% endblock %}