{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}"/>
{% endblock %}

{% block content %}
<div class="page-header">
  {% if event %}
    <h1>Edit {{event.name}}</h1>
  {% else %}
    <h1>Add an Event</h1>
  {% endif %}
  <img src="{% static '' %}" alt=""/>
</div>

<form action="" method="post" class="form-container">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <button type="submit" class="btn submit">Submit!</button>
</form>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const descriptionInput = document.querySelector('#id_description');
    const characterCountElement = document.createElement('div');

    descriptionInput.parentNode.appendChild(characterCountElement);

    function updateCharacterCount() {
      const characterCount = descriptionInput.value.length;
      const maxCharacterCount = 250; 
      characterCountElement.textContent = `Character Count: ${characterCount}/${maxCharacterCount}`;
    }

    descriptionInput.addEventListener('input', updateCharacterCount);

    const initialCharacterCount = descriptionInput.getAttribute('data-character-count');
    if (initialCharacterCount) {
      characterCountElement.textContent = `Character Count: ${initialCharacterCount}`;
    } else {
      updateCharacterCount(); 
    }
  });
</script>
{% endblock %}