{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/events/event-detail.css' %}"
/>

{% endblock %}

{% block content %}

<section class="event-container">
  <div class="event-image">
    {% with category_code=event.category %}
    <img 
      src="{% static 'images/category_images/' %}{% if category_code %}{{ category_code }}.png{% else %}default.png{% endif %}"
      alt="Category: {{ event.get_category_display }}"
    >
  {% endwith %}
  </div>
  <div class="event-details">
    {% if not event.event_passed %}
      <p class="event-passed">This event is coming up soon!</p>
    {% else %}
      <p class="event-passed">This event has already passed!</p>
    {% endif %}
    <h1>{{ event.name }}</h1>
    <div class="event-actions">
      <a href="{%url 'event-update' event.id%}" class="btn warn">Edit</a>
      <a href="{%url 'event-delete' event.id%}" class="btn danger">Delete</a>
    </div>
    <h3>Date: {{ event.date }}</h3>
    <h3>Time: {{ event.time }}</h3>
    <h3>Category: {{ event.get_category_display }}</h3>
    <h3>Venue: {{ event.venue }}</h3>
    <h3>Address: {{ event.address }}</h3>
    <h3>Cost: ${{ event.cost }}</h3>
    <h3>Celebration: {{ event.get_celebration_display }}</h3>
    <p>{{ event.description }}</p>
  </div>
</section>

{% endblock %}
