{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/events/event-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Event List</h1>
  <img class="event-icon" src="{% static 'images/35.png' %}" alt="Gold balloons" />
  <img class="event-icon" src="{% static 'images/34.png' %}" alt="A blue round callendar" />
  <img class="event-icon" src="{% static 'images/36.png' %}" alt="Admission tickets admit one" />
</section>

<section class="card-container">
  {% for event in events %}
    <div class="card">
      <a href="{%url 'event-detail' event.id%}">
        <div class="card-content">
          <div class="card-img-container">
            {% with category_code=event.category %}
              <img 
                src="{% static 'images/category_images/' %}{% if category_code %}{{ category_code }}.png{% else %}default.png{% endif %}"
                alt="Category: {{ event.get_category_display }}"
              >
            {% endwith %}
          </div>
          <h2 class="card-title">{{ event.name }}</h2>
          {% if not event.event_passed %}
            <p>This event is on: {{ event.date }}</p>
          {% else %}
            <p>This event took place on: {{ event.date }}</p>
          {% endif %}
          <p><small>{{ event.description }}</small></p>
        </div>
      </a>
    </div>
  {% endfor %}
</section>

{% endblock %}