{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
    rel="shortcut icon"
    type="image/png"
    href="{% static "images/favicon.png" %}"
  >
  <title>Event Collector</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  {% block head %}
  {% endblock %}
</head>
<body>
  <header>
    <div class="header-logo-container">
      <a href="/">
        <img 
          src="{% static "" %}"
          alt="The Cat Collector Logo"
        >
      </a>
    </div>

  <div class="wrapper">
    <nav class="menu" id="menu">
      <ul class="menu__list">
        {% if user.is_authenticated %}
          <li class="menu__link" id="about-link">
            <a href="{% url "about" %}" class="r-link">About</a>
          </li>
          <li class="menu__link" id="all-events-link">
            <a href="{% url "event-index" %}" class="r-link">All Events</a>
          </li>
          <li class="menu__link" id="add-event-link">
            <a href="{% url "event-create" %}" class="r-link">Add Event</a>
          </li>
          <li class="menu__link" id="logout-link">
            <a href="{% url "logout" %}" class="r-link">Log out</a>
          </li>
        {% else %}
          <li class="menu__link" id="about-link">
            <a href="{% url "about" %}" class="r-link">About</a>
          </li>
          <li class="menu__link" id="login-link">
            <a href="{% url "login" %}" class="r-link">Login</a>
          </li>
          <li class="menu__link" id="signup-link">
            <a href="{% url "signup" %}" class="r-link">Sign Up</a>
          </li>
        {% endif %}
      </ul>
    </nav>
  </div>
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>