.menu {
  --rLinkColor: var(--menuLinkColor, currentColor);
  background-color: var(--menuBackgroundColor, #1b1a25);
  box-shadow: var(--menuBoxShadow, 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24));
  border-radius: 18px;
  margin: 10px;
  padding: 0 15px;
  width: 100%;
}

.menu__list {
  display: flex;
}

.menu__link {
  display: var(--menuLinkDisplay, block);
  padding: var(--menuLinkPadding, 1.5rem 2.5rem);
  font-weight: 700;
  text-transform: uppercase;
}

/* Focus state */
.menu__link:focus {
  outline: var(--menuLinkOutlineWidth, 2px) solid var(--menuLinkOutlineColor, currentColor);
  outline-offset: var(--menuLinkOutlineOffset);
}

/* Fading siblings */
.menu:hover .menu__link:not(:hover) {
  --rLinkColor: var(--menuLinkColorUnactive, rgba(22, 22, 22, .35));
}

/* Text Underlined Styles */
.text-underlined {
  position: relative;
  overflow: hidden;
  will-change: color;
  transition: color .25s ease-out;
}

.text-underlined::before,
.text-underlined::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: var(--textUnderlinedLineColor, currentColor);
  will-change: width;
  transition: width .1s ease-out;
  position: absolute;
  bottom: 0;
}

.text-underlined::before {
  left: 50%;
  transform: translateX(-50%);
}

.text-underlined::after {
  right: 50%;
  transform: translateX(50%);
}

.text-underlined:hover::before,
.text-underlined:hover::after {
  width: 100%;
  transition-duration: .2s;
}

/* Custom Settings */
.page__custom-settings {
  --menuBackgroundColor: #6c5ce7;
  --menuLinkColor: #fff;
  --menuLinkColorUnactive: #241c69;
  --menuLinkOutlineOffset: -.5rem;
}

html {
  box-sizing: border-box
}

*::before, 
*::after { 
  box-sizing: inherit;
}

:root {
  font-size: 62.5%
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 
    'Helvetica Neue', sans-serif;
  min-height: 100vh;
  background-color: #F7EDE2;
  --nav-bg: rgba(104, 197, 248, .7);
  --nav-bg-ff: rgba(104, 197, 248, .9);
  --borders: rgb(36, 116, 248) solid 2px;
  --text-color: rgb(17, 20, 17);
  --link-hover-color: rgb(16, 56, 158);
  --button-bg: rgb(245, 245, 245);
  --button-bg-hover: rgb(226, 226, 226);
  --submit: rgb(26, 128, 0);
  --warn: rgb(255, 102, 0);
  --danger: rgb(220, 20, 30);
  --secondary: rgb(57, 57, 57);
  --card-box-shadow: 5px 5px 6px -1px #AAA;
  --font-xtreme: 4.2rem;
  --font-xxl: 3.6rem;
  --font-xl: 2.4rem;
  --font-l: 1.8rem;
  --font-reg: 1.6rem;
  --card-border-radius: 6px;
}

header {
  width: 100%;
}

.menu__link {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 600;
  font-size: 18px;
  text-align: center;
}

/* Update the hover style for the new "menu__link" class */
.menu__link:hover {
  color: var(--link-hover-color);
}

nav {
  margin: 10px;
}

ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

main {
  width: 100%;
  padding: 0 10px;
}

h2 {
  font-size: var(--font-xl);
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 26px;
  padding: 15px;
  margin: 30px;
}

nav a:hover {
  color: #e0c0e8;
}

.page-header {
  display: flex;
  align-items: center;
  margin: 20px;
}

.submit {
  color: var(--submit);
  border-color: var(--submit);
}

.secondary {
  color: var(--secondary);
  border-color: var(--secondary);
}

.warn {
  color: var(--warn);
  border-color: var(--warn);
}

.danger {
  color: var(--danger);
  border-color: var(--danger);
}

.page-header h1 {
  font-size: var(--font-xxl);
  margin: 0;
}

.page-header img {
  height: 40px;
  margin-left:15px;
}

.page-header img:first-of-type {
  margin-left: 20px;
}

.page-content {
  font-size: var(--font-reg);
}

.header-logo-container {
  text-align: center;
  padding: 10px 0;
}

.header-logo-container img {
  max-width: 100%;
  height: auto;
}
@media only screen and (min-width: 768px) {
  header {
    position: sticky;
    display: flex;
    flex-direction: row;
    top: 0;
    align-items: center;
  }

  main {
    max-width: 1300px;
    min-height: calc(100vh - 53px);
  }

  .header-logo-container {
    text-align: left; /* Align the logo to the left */
    padding: 10px 20px 0;
  }

  nav {
    margin: 0;
    display: flex;
    justify-content: center;
  }

  nav ul {
    flex-wrap: nowrap;
  }


  .page-header h1 {
    font-size: var(--font-xtreme);
  }
  
  .page-header img {
    height: 50px;
    margin-left:20px;
  }
  
  .page-header img:first-of-type {
    margin-left: 25px;
  }

}

.button-86 {
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  padding: 8px 16px;
  border-radius: 6px;
  border-width: 2px;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
  font-family: inherit;
  margin-right: 10px;
  width: 180px;
  height: 60px;
}


.button-86::after,
.button-86::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.button-86::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #34343a;
  border-radius: 10px;
}

.button-86::after {
  transform: translate(10px, 10px);
  width: 55px;
  height: 55px;
  background: #9280d99f;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.button-86.btn.danger::after {
  background: #c50e26b2;
}

.button-86.btn.warn::after {
  background: #39ba629f;
}


.button-86:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.button-86:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.button-86:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}


